<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Appointments</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div class="container-fluid">
    <div class="row mt-5 p-2">
        <div class="col-md-3">
            <div th:insert="sideBar   ::  mynavigaton"></div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Details about your building
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <h4>
                        Specified characteristics:
                    </h4>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">
                    Building specification
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        You choose
                    <b><td th:text="${wallUnit.wallUnitType.name}"></td></b>
                    wall unit , sizing :
                    <td th:text="${wallUnit.length}"></td>
                    x
                    <td th:text="${wallUnit.width}"></td>
                    x
                    <td th:text="${wallUnit.height}"></td>
                    </p>

                    <p class="card-text">
                        You choose <!--<td th:text="${T(com.example.demo.Model.RoofCoverType)}"></td>--> roof unit ,
                        sizing :
                    <td th:text="${roofUnit.length}"></td>
                    x
                    <td th:text="${roofUnit.width}"></td>
                    x
                    <td th:text="${roofUnit.height}"></td>
                    , energy efficiency:
                    <td th:text="${roofUnit.levelOfEnergyEfficiency}"></td>
                    </p>

                    <hr>

                    <div class="card-text">
                        <h5>Rooms in your building: </h5>
                        <div class="card p-3 m-3" th:each="floor: ${floorsForBuilding}">
                            <b><p>Floor id:

                                <td th:text="${floor.id}"></td>

                                </p></b>
                            <p>Surface area:
                            <td th:text="${floor.surfaceArea}"></td>
                            </p>
                            <div class="row">
                                <div class="col-4" th:each="singleRoom: ${floor.room}"
                                     style="background-color: #f0f1f2">
                                    <div class="card p-3 m-3">
                                        <i><p>Room id:
                                            <td th:text="${singleRoom.id}"></td>
                                            </p></i>
                                        <p>Surface area:
                                        <b><td th:text="${singleRoom.surfaceArea}"></td></b>
                                        </p>
                                        <p>Purpose of room:
                                        <b><td th:text="${singleRoom.purpose.name}"></td></b>
                                        </p>
                                        <p>Flooring:
                                        <b><td th:text="${singleRoom.flooring.name}"></td></b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="card-text">
                        <h5>Carpentry units in your building:</h5>
                        <div class="row">
                            <div class="col-4 " th:each="cu: ${carpentryUnitsForBuilding}">

                                <div class="card p-3 m-3" style="background-color: #f0f1f2">
                                    <h6 class="card-header">
                                        <p>Material:
                                        <td th:text="${cu.material.name}"></td>
                                        </p>
                                    </h6>
                                    <p>Dimension:
                                    <td th:text="${cu.height}"></td>
                                    x
                                    <td th:text="${cu.width}"></td>
                                    </p>
                                    <p>Door:
                                    <td th:text="${cu.door}"></td>
                                    </p>
                                </div>
                            </div>

                        </div>
                        </p>
                    </div>
                </div>

            </div>
            <br>
            <a th:href="@{/estimations/__${building.id}__}">
                <button class="btn btn-primary">Estimate costs</button>
            </a>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
</div>
</div>
</body>
</html>